* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Fonts */

.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

.orbitron-mellem {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.orbitron-lille {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Tekst styling*/
.saablaa {
  background-color: #000874;
  color: white;
  text-align: center;
  height: 40vh;
  z-index: 200;
  position: relative;
}

.titel {
  font-family: "Rubik Glitch", system-ui;
  font-size: 4rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: -100px;
}

.navn {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 80px;
}

.matrix {
  background-color: black;
  color: black;
  height: 60vh;
  overflow: hidden;
  position: relative;
}

.velkommen {
  background-color: #ffffff;
  z-index: 100;
  position: relative;
  top: 80px;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
}

.velkommen h2 {
  margin-bottom: 10px;
}

/* Koder ani */

#kode1_container {
  position: absolute;
  width: 7%;
  aspect-ratio: 36/692;
  left: 2%;
}

#kode1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(../IMG/kode1.svg);
  background-size: cover;
}

#kode2_container {
  position: absolute;
  width: 4%;
  aspect-ratio: 19/644;
  left: 10%;
}

#kode2_sprite {
  width: 100%;
  height: 100%;
  background-image: url(../IMG/kode2.svg);
  background-size: cover;
}

#kode3_container {
  position: absolute;
  width: 7%;
  aspect-ratio: 36/604;
  left: 17%;
}

#kode3_sprite {
  width: 100%;
  height: 100%;
  background-image: url(../IMG/kode3.svg);
  background-size: cover;
}

#kode4_container {
  position: absolute;
  width: 7%;
  aspect-ratio: 23/478;
  left: 25%;
}

#kode4_sprite {
  width: 100%;
  height: 100%;
  background-image: url(../IMG/kode4.svg);
  background-size: cover;
}

#kode5_container {
  position: absolute;
  width: 7%;
  aspect-ratio: 36/687;
  left: 33%;
}

#kode5_sprite {
  width: 100%;
  height: 100%;
  background-image: url(../IMG/kode5.svg);
  background-size: cover;
}

#kode6_container {
  position: absolute;
  width: 7%;
  aspect-ratio: 36/382;
  left: 40%;
}

#kode6_sprite {
  width: 100%;
  height: 100%;
  background-image: url(../IMG/kode6.svg);
  background-size: cover;
}

#kode1-1_container {
  position: absolute;
  width: 7%;
  aspect-ratio: 36/492;
  left: 91%;
}

#kode1-1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(../IMG/kode1-1.svg);
  background-size: cover;
}

#kode2-1_container {
  position: absolute;
  width: 4%;
  aspect-ratio: 19/644;
  left: 85%;
}

#kode2-1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(../IMG/kode2-1.svg);
  background-size: cover;
}

#kode3-1_container {
  position: absolute;
  width: 7%;
  aspect-ratio: 36/604;
  left: 70%;
}

#kode3-1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(../IMG/kode3-1.svg);
  background-size: cover;
}

#kode4-1_container {
  position: absolute;
  width: 7%;
  aspect-ratio: 23/478;
  left: 50%;
}

#kode4-1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(../IMG/kode4-1.svg);
  background-size: cover;
}

#kode5-1_container {
  position: absolute;
  width: 7%;
  aspect-ratio: 36/687;
  left: 60%;
}

#kode5-1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(../IMG/kode5-1.svg);
  background-size: cover;
}

#kode6-1_container {
  position: absolute;
  width: 7%;
  aspect-ratio: 36/382;
  left: 77%;
}

#kode6-1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(../IMG/kode6-1.svg);
  background-size: cover;
}

.fald {
  animation-name: fald_kf;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes fald_kf {
  0% {
    transform: translateY(-120%);
  }
  100% {
    transform: translateY(140%);
  }
}

.titelAni {
  animation: slide_kf 0.2s linear 2 forwards, opa_kf 0.3s linear 2 forwards;
}

@keyframes slide_kf {
  0% {
    transform: translateX(-3%);
  }

  50% {
    transform: translateX(3%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes opa_kf {
  50% {
    opacity: 0;
  }
}

/* Burgermenu */

header {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  margin-right: 150px;
  margin-left: 55px;
}

.menu a {
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.menu a:hover {
  color: #2c5d28;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  position: relative;
  z-index: 10;
  width: 150%;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 10;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.3s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.3s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #2c2b2b;
    opacity: 98%;
    border-radius: 5px;
    position: absolute;
    top: 220px;
    left: 30px;
    width: 85%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 250;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

@media screen and (min-width: 800px) {
  .titel {
    font-size: 6rem;
  }

  .navn {
    font-size: 1.2rem;
    margin-top: 30px;
  }

  .velkommen {
    margin-right: 900px;
    top: 150px;
    left: 420px;
  }

  .fald {
    animation-duration: 10s;
  }

  @keyframes fald_kf {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(60%);
    }
  }

  .menu a:hover {
    color: #ffffff;
  }

  .menu li {
    transition: transform 0.3s ease;
  }
  .menu li:hover {
    transform: scale(1.2);
  }
}
